# ЛАБОРАТОРНА РОБОТА 
## Елементи конструювання ознак в МН

## Теоретичне введення

[Конструювання ознак](https://ru.wikipedia.org/wiki/Конструирование_признаков) (_feature engineering_) - це процес створення нових ознак/показчиків або модифікації існуючих для поліпшення продуктивності моделей машинного навчання. 

__Ціль__ цього етапу - визначати основні закономірності в даних, які є актуальними для вирішуваної проблеми, та представити цю інформацію в формах та форматах, які можуть використовувати алгоритми машинного навчання.

## Завдання

В даних ретейл-компанії які знаходяться в файлі `apartments_orig.csv` та відображають в відомості про продажі квартир на вторинному ринку зробити наступне:
1. Провести попередній аналіз структури даних
2. Знайти та видалити дубльовані рядки
3. Провести реконструкцію пропущених даних
4. Розробити та додати нові ознаки
5. Зберегти оброблені дані в файлі `apartments_clean.csv`

Завдання виконувати послідовно додержуючись інструкцій та коментарів

### 1. Підготовка

In [1]:
# імпортувати необхідні бібліотеки
...
import pandas as pd

In [2]:
# створити датафрейм з ім'ям 'apartments' з файлу 'apartments.csv'
apartments = pd.read_csv('apartments.csv')

In [3]:
# вивести загальну інформацію про датафрейм (head, info, describe, ...)
apartments.head()

,Price,rooms,price_per_m2,level,levels,year,area_total,area_living,area_kitchen,street,publish_date
0,140000.0,2.0,2258.0,7.0,9.0,1969.0,62.0,47.0,9.0,Омеляновича-Павленка,3 вересня 2020 р.
1,105000.0,4.0,847.0,25.0,26.0,2018.0,124.0,71.0,16.0,NaN,7 жовтня 2020 р.
2,175000.0,3.0,1786.0,25.0,26.0,2010.0,98.0,NaN,NaN,Ованеса Туманяна,1 жовтня 2020 р.
3,30970.0,1.0,1106.0,12.0,13.0,2013.0,28.0,13.0,5.0,Петропавлівська,1 лютого
4,82000.0,2.0,1281.0,18.0,26.0,NaN,64.0,NaN,NaN,Дніпровська,NaN

In [4]:
apartments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         728 non-null    float64
 1   rooms         724 non-null    float64
 2   price_per_m2  723 non-null    float64
 3   level         703 non-null    float64
 4   levels        703 non-null    float64
 5   year          540 non-null    float64
 6   area_total    640 non-null    float64
 7   area_living   497 non-null    float64
 8   area_kitchen  524 non-null    float64
 9   street        715 non-null    object
 10  publish_date  550 non-null    object
dtypes: float64(9), object(2)
memory usage: 62.7+ KB

In [5]:
apartments.describe()

,Price,rooms,price_per_m2,level,levels,year,area_total,area_living,area_kitchen
count,7.280000e+02,724.000000,723.000000,703.000000,703.000000,540.000000,640.000000,497.000000,524.000000
mean,2.001384e+05,2.226519,2090.259059,9.631579,17.695590,1996.662963,79.928125,42.301811,15.881679
std,6.748939e+05,1.027190,5900.910584,6.931243,8.458113,27.125786,51.143278,30.571793,10.043182
min,1.009210e+04,1.000000,478.000000,1.000000,2.000000,1860.000000,15.000000,10.000000,3.000000
25%,6.500000e+04,1.000000,1147.000000,4.000000,9.000000,1977.000000,50.000000,25.000000,10.000000
50%,1.039500e+05,2.000000,1562.000000,8.000000,19.000000,2010.000000,68.500000,37.000000,14.000000
75%,1.700000e+05,3.000000,2188.000000,14.000000,25.000000,2016.000000,92.250000,50.000000,18.000000
max,1.570000e+07,7.000000,157000.000000,33.000000,47.000000,2021.000000,520.000000,320.000000,78.000000